
  
  body {
    font-family: Helvetica, sans-serif;
    justify-content: center;
    height: 100vh;
    background-color: black;
  }
  
  .grid-container {
    height: 840px;
    width: 100vw;
    position: fixed;
    margin: auto;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 4 columns */
    grid-template-rows: repeat(8, 1fr); /* 4 rows */
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 6px;
    position: relative;
    gap: 6px; /* This creates space between the grid cells */
  }

  
  .header1 {
    grid-column: 2 / span 3; /* Spanning two columns */
    grid-row: 2 / span 1; /* Placing in the second row */
    display: flex;
    align-items: flex-start; /* Align content to the top */
    justify-content: flex-start; /* Align content to the left */
  }
    
  .header2 {
    grid-column: 2 / span 3; /* Spanning two columns */
    grid-row: 3 / span 2; /* Placing in the second row */
    display: flex;
    align-items: flex-start; /* Align content to the top */
    justify-content: flex-start; /* Align content to the left */
  }
  
  
   h1 {
font-family: Helvetica, sans-serif;
letter-spacing: -.1em;
    font-size: 6em;
    margin: 0; /* Remove default margin for precise control */
    padding: 0; /* Remove padding to avoid unexpected spacing */
    color: white;

  }

  
  .content {
    grid-column: 1 / 9; /* Content in 2nd column */
    grid-row: 1 / span 1;
    display: flex;
    align-items: flex-start; /* Align content to the top */
    justify-content: flex-start; /* Align content to the left */
        color: white;

  }
  
  .content p {
    margin-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0; /* Remove default margin for precise control */
    padding: 0; /* Remove padding to avoid unexpected spacing */
    color: white;

  }
  



  .image { 
    grid-column: 2 / span 2; 
    grid-row: 5 / span 1;
    display: flex;
    align-items: flex-start; /* Align content to the top */
    justify-content: flex-start; /* Align content to the left */
    color: white;
    text-align: justify;
    /* background-color: rgb(255, 242, 0); */

  }



  .lable3{
    font-family: "Space Mono", monospace;
    font-size: 9px;
  
  }

  .scroller { 
    z-index: 3;
    width: 100%;
    height: fit-content;
    background-color: blue;
    transform: translateY(90vh); /* Move down by two-thirds of the viewport height */
    border-radius: 1%;
    
}



.content2 {
  grid-column: 1 / span 9; /* Content in 2nd column */
  grid-row: 1 / span 1;
  display: flex;
  align-items:center; /* Align content to the top */
  justify-content: center; /* Align content to the left */
  color: white;
  margin-bottom: 38px;

}


.floating1   { grid-column: 6 / span 2; /* Content in 2nd column */
grid-row: 3 / span 3;
display: flex;
align-items: flex-start; /* Align content to the top */
justify-content: flex-start; /* Align content to the left */
/* background-color: rgb(203, 26, 153); */
}

.lab-text {
  color: white;
  background-color: blue;
}




.lablexx{
  font-family: "Space Mono", monospace;
  font-size: 21px;

}


#closeButton {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

#closeButton:hover {
  background-color: darkred;
}

.lable2{
  font-family: "Space Mono";
  font-size: 32px;
  color: white;
}


.centerbox{
  display: flex;
  justify-content: center;
}

#asciiArtContainer {
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0); /* Transparent black background */
  border-radius: 10px; /* Rounded corners for aesthetics */
width: auto; /* Prevent ASCII from stretching too wide */
  height: auto; /* Prevent ASCII from stretching too tall */
  overflow: none; /* In case the ASCII art overflows, provide scroll */
  z-index: 3;
  position:absolute;
  display: none; 
  padding: 10px;
  transform: scale(1);

}



.asciiout{
    font-family: "Space Mono", monospace;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 1.2; 
    padding-top: 10px;

  }

#asciiArt {
    font-family: "Space Mono", monospace;
    font-size: 11px;
    letter-spacing: 1.8px;
    line-height: .8; 
 
  }



  #asciiArt span {
    display: inline-block;
  }


  input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
letter-spacing: -.1em;
    font-size: 2em;   
}

.custom-file-upload:hover {background-color: rgb(0, 0, 160);}

hr{
  padding: 1px;
  background-color: white;
}


button {
  background-color: blue;
}

#downloadPngButton {display: none;}

@media (max-width: 800px) {
  .grid {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 10px;
    gap: 20px;

  }

  .image{
    max-width: 360.4px;
    margin-left: auto;  margin-right: auto;
    
}
  .header1 {
    text-justify: left;
    margin-left: 0%;
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .header2 {
    font-size: 14px; /* Adjust font size for smaller screens */
    margin-left: 10%;
  }



  .content2{    display: none;
  }

 
  h1{font-size: 4em;}

  .floating1 {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: flex;
  height: auto;
  width: 360.4px;
  }

  #asciiArtContainer {

    transform: scale(.91);
  
  }

  
}

